p.welcome{
    color: rgb(0, 0, 0);
}
body{
    background-color: #999999;
    background-size: 100%;
    margin: 0 auto;
}
/* bannière en haut du site */
div.ban{
    position: relative;
    height: 450px;
    margin: 0px;
    background: url(https://i.ytimg.com/vi/hgQAwfIipGM/maxresdefault.jpg);
    background-size: 100%;
    background-position-y: 500px;
}

div.ban img{
    width: 150px;
    background-size: cover;
    background-size: 100%;
}
header.principal nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    background-size: 100%;
}

div.ban header{
    display: flex;
    align-items: center;
    background-color: #03ad94;
}

div.ban img{
    width: 150px;
    padding-top: 0px;
    padding-right: 50px;
}

nav.menu-nav ul li{
    display:  inline-block;
    list-style-type: none;
    padding-left: 85px;
    padding-top: 0px;
    padding-right: 50px;
    
}

nav.menu-nav ul li a{
    text-align: center;
    text-align: justify;
    color: black;
    background-color:#d1d1d1;
    text-decoration: none;
    padding: 10px;
    height: 20px;
}





h1.montitre {
    font-size: 50px;
    font-weight: 500;
    padding-left: 45%;
}

div.ligne{
    height: 7px;
    background-color: #03ad94;
}
