*{
    scroll-behavior: smooth;
}
/* définition du fond de la page */
body{
    background-color: #999999;
    background-size: 100%;
    margin: 0 auto;
}
/* bannière en haut du site */
div.ban{
    position: relative;
    height: 450px;
    margin: 0px;
    background: url(https://i.ytimg.com/vi/hgQAwfIipGM/maxresdefault.jpg);
    background-size: 100%;
    background-position-y: 500px;
}

img{
    width: 150px;
    background-size: cover;
    background-size: 100%;
    width: 150px;
    padding-top: 0px;
    padding-right: 50px;
}

header.principal nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    background-size: 100%;
}

header{
    display: flex;
    align-items: center;
    background-color: #03ad94;
}

nav.menu-nav ul li{
    display:  inline-block;
    list-style-type: none;
    padding-left: 85px;
    padding-top: 0px;
    padding-right: 50px;
    
}

nav.menu-nav ul li a{
    text-align: center;
    text-align: justify;
    color: black;
    background-color:#d1d1d1;
    text-decoration: none;
    padding: 10px;
    height: 20px;
    border-radius: 6px;
}

/* barre de séparion haut de page et corps principal */

div.ligne{
    height: 10px;
    background-color: #03ad94;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
}

/* zone pour le vote du public */
div.vote{
    background-color: whitesmoke;
    margin-left: 75px;
    margin-right: 75px;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
    display: flexbox;
}
div.vote header{
    height: 36px;
    background-color: #0a0082;
    text-align: center;
    text-justify: auto;
    border-radius: 10px 10px 0 0;
}

div.vote form{
    padding: 10px;
}

/* bloc acces liste bus */
div.bus{
    height: 200px;
    padding: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
}

header.dansbus{
    height: 36px;
    background-color: #0a0082;
    text-align: center;
    text-justify: auto;
    border-radius: 10px 10px 0 0;
}

header.dansbus p{
    color: blanchedalmond;
    text-decoration: whitesmoke;
    font-size: 30px;
}

div.prezbus{
    display: inline-block;
    display: flex;
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
}

div.imgbus{
    height: 164px;
    width: 292px;
    background-image: url(https://media.lesechos.com/api/v1/images/view/5c2de5338fe56f64c00a36ed/1280x720-webp/0203523070942-web.webp);
    background-size: 100%;
    border-radius: 0 0 0 10px;
}

div.textbus{
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-justify: auto;
    font-size: 25px;
    border-radius: 0 0 10px 10px;
}

div.textbus a{
    text-decoration: none;
    color: black;
}

/* bloc acces liste des centres bus */
div.centre{
    height: 200px;
    padding: 60px;
    padding-top: 30px;
}

header.danscentre{
    height: 36px;
    background-color: #0a0082;
    text-align: center;
    text-justify: auto;
}

header.danscentre p{
    color: blanchedalmond;
    text-decoration: whitesmoke;
    font-size: 30px;
}

div.prezcentre{
    display: inline-block;
    display: flex;
    background-color: blanchedalmond;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
}

div.imgcentre{
    height: 164px;
    width: 292px;
    background-image: url(https://www.nr-conseil.net/wp-content/uploads/2020/09/Cb-Asnieres-2.jpg);
    background-size: 120%;
    border-radius: 0 0 0 10px;
}

div.textcentre{
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-justify: auto;
    font-size: 25px;
}

div.textcentre a{
    text-decoration: none;
    color: black;
}

/* tableau de présentation des bus */

div.bustechnique{
    padding: 40px;
    padding-right: 100px;
    padding-left: 100px;
    height: 400px;
    width: 1148px;
    color: blanchedalmond;
    text-align: center;
    display: flex;
    display: inline-block;
}

header.nombus{
    height: 40px;
    background-color: #0a0082;
    font-size: 30px;
    border-radius: 15px 15px 0 0;
    display: flex;
}

header.nombus p{
    text-align: center;
}

div.infosbus{
    height: 460px;
    background-size: 100%;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.15);
    color: black;
}
div.infobus h1{
    color: black;
    font-size: 20px;
}

table.vehicule{
    border-collapse: collapse;
    width: 1148px;
    border: 5px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
}

/* haut du tableau */
thead tr{
    background-color: #03ceaf;
    color: whitesmoke;
    text-align: center;
}

th{
    height: 30px;
    font-size: 20px;
}

/* suite du tableau */
td{
    color:black;
    font-size: 17px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    text-align: center;
}

/* bordures inter-lignes */

tr ,td , th{
    border: 1px solid grey;
}

/* présentation photo */

div.photobus{
    padding: 40px;
    padding-right: 100px;
    padding-left: 100px;
    width: 1148px;
    display: flex;
    color: blanchedalmond;
    text-align: center;
    text-align: center;
    display: inline-block;
}
/* bas de page */

div.baspage{
    margin-top: 25px;
    height: 10px;
    background-color: #03ad94;
}