p.welcome{
    color: rgb(0, 0, 0);
}
body{
    background-color: #777;
    background-size: 100%;
}

h1.montitre {
    font-size: 50px;
    font-weight: 500;
    padding-left: 45%;
}
p.photo1{
    background: url("https://live.staticflickr.com/65535/48798660853_b2d8334006_b.jpg") no-repeat;
}